[2019-02-01 12:14] rvanbekkum opened #1 "Feature Request: Check for missing translations"
Add a command in the command palette that allows to check for missing translations in XLIFF files other than the base/g.xlf file.

[2019-02-01 12:18] rvanbekkum opened #2 "Feature Request: Add Sync option to context-menu when clicking on XLIFF files in workspace"
When right-clicking an XLIFF file in your workspace, show an option to sync the translations.
Thoughts:
* When right-clicking the base/g.xlf file, let this be a command that syncs to all other XLIFF files (i.e., **XLIFF: Synchronize All Files**)
* When right-clicking on an XLIFF that is not the base/g.xlf file, let this be a command that syncs translations from the base file into the selected file

[2019-03-01 22:19] #2 closed

[2019-03-07 11:03] rvanbekkum opened #3 "Feature Request: Add function to merge based on sources"
Add an option or command/function that allows to merge based on the contents of the `source` tags.
This might be useful for dealing with changes in the IDs/Names of your source files.

[2019-04-14 20:14] #1 closed

[2019-04-14 20:29] rvanbekkum commented on #1
You can now open the command palette and run command "XLIFF: Check for Missing Translations".
This will give you an overview of the number of missing translations per XLIFF file through informational messages:
![image](https://user-images.githubusercontent.com/7383241/56098791-9d97f400-5f04-11e9-9e7d-6208893f783d.png)
There is also an option to open the XLIFF file with your default editor (i.e., u

[2019-04-15 07:27] rvanbekkum opened #4 "Feature Request: Automatically check for missing translations after synchronizing (with setting to turn on/off)"
Add a setting that let's you enable automatically checking for missing translations (see #1).

[2019-04-15 16:36] rvanbekkum opened #5 "Enhancement: After running "Check for Missing Translations", show a message if there are no missing translations at all."
After running "XLIFF: Check for Missing Translations" from the command palette with no missing translations found in any of the XLIFF files, show an informational message to notify that there are no missing translations in the project.

[2019-05-13 08:18] rvanbekkum commented on #3
This feature does not work as expected yet and sometimes results in duplicate trans-unit tags.

[2019-05-13 18:07] rvanbekkum opened #6 "Enhancement: Configurable Meaning and Description note designations"
In the README you can find the following:

However, the "Meaning" and "Description" note tags are only applicable when working with Angular i18n translations.
This needs to be changed/made more generic and configurable so that it can also be used with Xliff Generator and Developer notes generated from the AL Language extension.

[2019-05-13 20:23] #6 closed

[2019-05-13 20:23] #5 closed

[2019-05-13 20:23] #4 closed

[2019-05-13 20:24] #3 closed

[2019-05-13 20:39] rvanbekkum opened #7 "New-line chars in translations are sometimes replaced by sequence "&#xD;""
Translations in the target tags that contain new-line characters (\n) seem to 'sometimes' get replaced with character sequence "&#xD;" after syncing translations.
The situation in which this happens should be identified, and this issue should be resolved.

[2019-06-12 11:33] fvet opened #8 "How to deal with labels marked as 'Locked'?"
**Scenario**

Label variable declaration that does not require translation.

`MySecondLabel: Label 'MySecondLabel', Locked = true;`

Result in g.xlf

![image](https://user-images.githubusercontent.com/25268332/59347934-1ef9e000-8d16-11e9-9963-15ae3dad8524.png)

Result when synching to nl-BE.xlf

![image](https://user-images.githubusercontent.com/25268332/59347976-3f299f00-8d16-11e9-9e0d-c780feb6af

[2019-06-15 17:22] rvanbekkum opened #9 "Synchronizing translation files does not update the "translate" property of trans-unit tags"
Given you have a "g.xlf" file that had `translate="yes"` for one of its trans-unit tags, when you change this to `translate="no"`, then synchronizing translation files should update this in all other files as well.

[2019-06-15 17:24] rvanbekkum commented on #8
Hi @fvet,
Good question, I must say that I didn't know for sure either, so I looked into how AL handles the 'Locked' labels. My guess was that AL will just ignore any translations you provide for trans-units with translate="no" and always just uses the source text.
Personally, what I did up until now was just directly copy the translations for these locked labels from POEdit (Ctrl + B), so that th

[2019-06-29 11:41] #9 closed

[2019-06-29 12:04] rvanbekkum commented on #9
There are two new properties to address this issue with the attribute not updating from the source trans-unit nodes:
* `preserveTargetAttributes` : Specifies whether or not syncing should use the attributes from the target files for the trans-unit nodes while syncing. (Default: false)
* `preserveTargetAttributesOrder` : Specifies whether the attributes of trans-unit nodes should use the order foun

[2019-06-29 12:32] #8 closed

[2019-06-29 12:59] rvanbekkum commented on #8
I have addressed this issue by making the following changes:
* While syncing translations there is now a check for the "translate" attribute. If translate="no", then the trans-unit node in the target file(s) won't get a new empty target-node.
* Also, while syncing, if a trans-unit node is found with translate="no" and it has a target-tag (a translation), then it will be deleted from the target fil

[2019-06-29 14:31] rvanbekkum commented on #7
This happens when the newlines are represented as CRLF instead of just LF.
Thing is, the AL Language produces a `g.xlf` file with CRLF separators, while POEdit saves files with LF separators. Then also Git wants to change the LF separators to CRLF when you are trying to make a commit with the file using LF separators.
So, when the file is pulled again the LF separators will again be replaced by CR

[2019-06-29 16:02] #7 closed

[2019-07-12 15:42] fvet opened #10 "[Feature request] XLF file validation"
It would be intesting if the XLIFF sync could also provide support to check the 'technical' quality of the translations:

- For option fields (Note tag with 'Property OptionCaption'), ensure the number of option values (= number of comma's) is the same accross all translation files.
- For option fields (Note tag with 'Property OptionCaption'), ensure the use of leading spaces is respected accross

[2019-07-12 15:54] rvanbekkum commented on #10
Great idea! I will look into this.

[2019-07-14 11:33] rvanbekkum commented on #10
I have added the initial implementation for this in feature branch [feature/10-technical-checks](https://github.com/rvanbekkum/vsc-xliff-sync/tree/feature/10-technical-checks).

This introduces a command `XLIFF: Check for Need Work Translations`, which will compare the source and translation text for each .xlf target file and run the checks you suggested above.
For each unit in which a problem is

[2019-07-14 13:40] fvet commented on #10
@rvanbekkum , this is what I had in mind, would be glad to test the new feature and provide feedback!

[2019-07-15 11:09] rvanbekkum commented on #10
I have created a new [0.1.6 release](https://github.com/rvanbekkum/vsc-xliff-sync/releases/tag/0.1.6).
If you have feedback, please let me know!

[2019-07-15 11:09] #10 closed

[2019-07-15 11:35] fvet opened #12 "XLIFF Sync notes are not removed after fixing 'needs-adaptation' trans-units"
Testing the 'Check for Need Work Translations' command on v0.1.6, adds an 'XLIFF Sync' note.
When solving the translation (in the Xliff file / not via PoEdit) and re-running 'Check for Need Work Translations', the 'XLIFF Sync' note seems not removed.

Tested both with 'needs-adaptation'
[code]
and 'translated'
[code]

[2019-07-15 11:46] rvanbekkum commented on #12
I think I see the problem. Right now, it will only update the target file if problems are found, not when they are all resolved. I will fix this, thanks for reporting!

[2019-07-15 11:46] fvet opened #13 "[Feature Request] Next Need Work Translation"
Similar to the command 'Next Missing Translation', it could be interesting having a 'Next Need Work Translation' command to step through the trans-unit (with '<target state="needs-adaptation">') to resolve them directly in VSCode.

[2019-07-15 11:59] fvet opened #14 "The number of placeholders does not match expected"
In the sample code below, I would have expected an 'The number of placeholders does not match' warning since the target value (%2) does no longer match the number of placeholders in the source text.

[code]

[2019-07-15 12:07] rvanbekkum commented on #14
Function `checkForPlaceHolderMismatch` should have also checked the other way around.
Right now it first checks what the placeholders in the source text are, and then it verifies if these are also present in the translation text.
It should also do this the other way around.
Also, I think it should account for multiple occurrences of the same placeholder, which it does not yet.

Thank you for repor

[2019-07-15 18:10] #12 closed

[2019-07-15 18:11] #14 closed

[2019-07-15 20:04] fvet opened #15 "[Feature Request] Enable 'Need Work Translation' for 'PromotedActionCategories' property"
Untill MS has found a decent way to manage / extend the ribbon / action groups, we still have to struglle with the 'PromotedActionCategories'. This is also a property prone to errors, due to the list of options. Would be good if the translation for 'PromotedActionCategories' property is tested the same way as the translation for the 'OptionCaption' property, showing 'number of option mismatch erro

[2019-07-15 21:22] #13 closed

[2019-07-16 21:32] rvanbekkum opened #16 "[Bug] Synchronize Translation Units saves to wrong file since 0.1.6"
Scenario: Have a en-US.xlf and nl-NL.xlf file, and a .g.xlf file as base file.
When you open the nl-NL XLIFF file in the editor, then running command "XLIFF: Synchronize Translation Units" will result in translations to be synced to the wrong file.

[2019-07-16 22:01] #16 closed

[2019-07-17 10:37] rvanbekkum commented on #15
Available in release [0.2.0](https://github.com/rvanbekkum/vsc-xliff-sync/releases/tag/0.2.0).

[2019-07-17 10:37] #15 closed

[2019-07-17 12:05] fvet commented on #15
Thanks!

PS: You should get your extension listed at https://marketplace.visualstudio.com/items?itemName=waldo.al-extension-pack to get more traction ;)

[2019-07-25 13:08] fvet opened #17 "[Question] Sync upon Package / Build"
What's the easiest way to integrate syncing all xlf target files automatically upon packaging (AL: Package) / building (Ctrl+F5) an extension (or when the g.xlf file is updated / saved)? Is this something that could be embedded in the XLIFF Sync extension, or should we look into VS Code tasks?

[2019-07-25 13:14] rvanbekkum commented on #17
I was also thinking about this, but was not sure where I'd able to hook into. Do you by chance know whether there is an event I could hook into?

Otherwise this will need some further investigation.
Also a thing _might_ need to be taken into account is that the .g.xlf file is updated during packaging/building/compiling.

[2019-07-25 13:16] fvet commented on #17
You'll have to ask another VS Code expert I'm afraid ;)

[2019-08-08 09:31] rvanbekkum opened #18 "[Feature Request] Add check for source=translation iff source-language=target-language"
Add the possibility to perform a check to see if the translations are the same as the sources for a translation file in which source-language = target-language.
There should however be a toggle to enable/disable this check. (Maybe while at it, make it so that all checks can be toggled)

[2019-08-10 11:15] #18 closed

[2019-08-11 11:11] rvanbekkum commented on #15
Great news: The extension is now finally available in the VS marketplace!
https://marketplace.visualstudio.com/items?itemName=rvanbekkum.xliff-sync

I will see if I can get the extension listed in that extension pack as well.

[2019-08-17 14:20] rvanbekkum opened #20 "[Feature Request] Import Translations from File"
Add a new command that allows you to choose an XLIFF file outside of the project folder and import translations for matching sources into XLIFF files with the same target language.

[2019-08-18 21:29] #20 closed

[2019-08-21 16:07] rvanbekkum opened #22 "[Feature Request] Translation(s) Browser"
Add a command that opens a "Translations Browser" within VS Code.
This browser should feature the following (my wishlist):
* Filter on source/translation (could reuse my filterCompiler implementation from https://github.com/anzwdev/al-code-outline/pull/14)
* Toggle to show/hide trans-units with `translate=no`/`Locked=true`
* Ability to edit translations within this browser
* Keyboard navigation
*

[2019-08-21 16:21] rvanbekkum commented on #17
I think the best would be to use a task for this purpose. Also, I could not find another way to hook into the AL build.
From what I understood, you should be able to 'override' what happens when a build is started (see also [this blog](https://navbitsbytes.com/2017/10/14/al-extensions-build-without-deploying-using-visual-studio-code-tasks/)), but for some reason I couldn't get this to work, it wou

[2019-08-21 21:52] rvanbekkum commented on #22
For now I won't work on this issue, because there is no urgent need for this feature.
The combination of XLIFF Sync with POEdit (or any similar other translation tool) will suffice for now.
I might reintroduce this issue later on, when reviewing it again after a few weeks.

[2019-08-21 21:52] #22 closed

[2019-09-06 06:51] RafaelKoch opened #23 "Feature Request: multiple base files in a workspace"
Hi!

We tested this very interesting VS Code Extension and found it could be a lot of help.

We are working with a multi-root workspace that contains many AL Extensions. Yet xliff-sync places only one base file into the workspace settings file. That does not make too much sense since we would need to constantly change the config as we work through the individual extensions.

So the request would b

[2019-09-11 17:13] rvanbekkum commented on #17
Closing this issue for now as it looks like this is something that should not be solved inside this extension.

[2019-09-11 17:13] #17 closed

[2019-09-15 15:21] rvanbekkum commented on #23
Support for multi-root workspaces has been shipped in version 0.3.0.
Please try it out and let me know what you think and/or if you run into any issues.

[2019-09-15 15:21] #23 closed

[2019-09-16 06:13] RafaelKoch commented on #23
My hero! Will try it this week.

[2019-10-14 10:05] fvet opened #25 "[Feature] Check on consecutive spaces"
To improve the translation quality, it would be interesting if we could have 2 new rules:

- Check for consecutive spaces (no matter source/target)
- Check if consecutive spaces occur in source but not in target (or vice versa)

This would eliminate some minor issues as shown below:

![image](https://user-images.githubusercontent.com/25268332/66743628-a731f280-ee7a-11e9-8d65-13c090537544.png)

[2019-10-14 11:26] rvanbekkum commented on #25
Good idea.
Maybe I could also add a check that sentences that end with a period (".") in the source, should also end with a period in the translation, while I am at it.
I noticed translators forget that one as well occasionally.

[2019-10-14 11:50] fvet commented on #25
FYI, I don't use the 'period' check a lot, since we often have mixes on 'No.' versus 'Nummer' or 'Sales No.' vs 'Nr. Verkoop', ...

![image](https://user-images.githubusercontent.com/25268332/66749225-96d54400-ee89-11e9-9c76-d5a0f0bd45e6.png)

[2019-10-14 11:55] rvanbekkum commented on #25
Can I ask which software you are using (as seen in your screenshots)? Seems useful to scan and check for such punctuation errors.

[2019-10-14 11:58] fvet commented on #25
I've downloaded a trial of Aceproof to test the quality of the translations. The rather 'technical' thinks (punctuations, double spaces, ...) seem valid to add to XLIFF (compared to the current 'Needs technical work' checks).

Other recommendations about 'consistency' should be part of a QA tool.

https://www.aceproof.com/

[2019-10-18 03:44] pmoison opened #26 "XLIFF: Create New Target File(s) - Typing in language tag manually"
Configuration   :
- Multi-root workspaces
Symptoms :
- No error, no file generated

[2019-10-19 16:07] rvanbekkum commented on #26
Could you tell me when the command does not work for you?
Just tested this in a multi-root workspace I set up earlier, but I don't run into any issues.

[2019-10-19 16:33] pmoison commented on #26
Was user experience fault from my part (rapid keyboad maniac!). Was typing from keyboard the target language and Enter without moving to rhe list, checking the checkbox, and then Enter...
Could be fine to autovalidate the target language if unique.

[2019-10-19 16:43] rvanbekkum commented on #26
I see. I will check if I can change the command so that you can also just type in the target language tag without _needing_ to select one (or more) from the pre-defined list.

[2019-10-19 17:36] rvanbekkum commented on #26
It appears that there is a limitation when the `showQuickPick` function from the VSCode API is used with `canPickMany`=**true**: pressing the _Enter_ key will not select the active item, but instead close the menu. With `canPickMany`=**false**, pressing the _Enter_ key _does_ select the active item.

@pmoison Would something like this work for you?
- I will change the command so that by default yo

[2019-10-19 17:40] pmoison commented on #26
That sounds great !

[2019-10-20 15:31] rvanbekkum commented on #25
The suggested checks are shipped in version 0.3.1.

[2019-10-20 15:31] #25 closed

[2019-10-20 15:32] rvanbekkum commented on #26
This change is shipped in version 0.3.1.

[2019-10-20 15:32] #26 closed

[2019-11-03 13:31] rvanbekkum opened #29 "[Feature Request] Check for placeholder explanation"
Add a new (optional) rule for command "XLIFF: Check for Need Work Translations" that will check whether placeholders are explained in the Developer note.
For example, if the source text contains "%1", then this rule will check whether "%1" is contained in the Developer note as well to explain its meaning.

[2019-11-03 15:32] #29 closed

[2019-11-04 08:50] fvet opened #31 "Handling large Xliff files?"
I have an Xliff file of approx. 30 Mb. When running 'Sync Translation Units', apparently nothing happens. How can I check the extension is actually updating / working / failing? Any experience with larg Xliff files?

![image](https://user-images.githubusercontent.com/25268332/68109873-f3a5a680-feeb-11e9-9e63-157d8895d9ce.png)

[2019-11-09 14:17] rvanbekkum commented on #31
Looked into this earlier this week. For such large XLIFF files syncing takes some time, e.g., over 5 minutes per sync.

I could add a progress notification based on [vscode.window.withProgress](https://github.com/Microsoft/vscode-extension-samples/tree/master/progress-sample) from the VS Code API to inform which target file is currently being synced, so that you at least know it is still running.

[2019-11-12 12:42] fvet commented on #31
Having the progressbar would be helpfull. This would at least give us some more info about the sync being performed.

[2019-11-16 19:40] rvanbekkum commented on #31
I have released the notification/toast that shows that a sync is in progress for a target file in version 0.3.3.

For the "Extension host terminated unexpectedly." message you get, I can't tell what the issue is yet.
What I did notice though is that the sync can into weird errors, _only if_ a large XLIFF file is opened in the editor before the command is ran.
Maybe you could check whether the same

[2019-11-18 08:16] fvet commented on #31
To test (and exclude any 'AL extension' impact), I've opened just the 'translations' folder in VSCode (with a modified settings.json for the xliffSync settings) and successfully started syncing the xlf files (without the source file being opened / loaded). However, somewhere in the syncing process, the target xlf file gets opened and some minutes after that, the "Extension host terminated unexpect

[2019-11-20 10:14] rvanbekkum commented on #31
Thank you for sending the file, I will look into it after the Techdays 😉.

It does not show when using the "Check for Missing Translations" or "Check for Need Work Translations" command.

[2019-11-20 10:26] fvet commented on #31
Thanks ;)
FYI: Seems like PoEdit got problems as well with larger files (they generated temp files of 51 GB :) ) but they got them fixed recently.

[2019-11-30 17:35] rvanbekkum commented on #31
I've looked further into the issue. I have been able to sync the base/.g file to target files, but it takes quite a while to sync.
The error "Extension host terminated unexpectedly." does not always show up but if it does it appears to be a memory issue, i.e., from the console: `FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory`.

I know it can be expected that the

[2019-12-09 14:10] pri-kise opened #33 "Show more details on"needs-adaptation""
I have to translations where I got the `state="needs-adaptation"`, but I don't know what has to be changed?

I have the following settings enbled:
[code]

Or is there any  way to show more output in the console?

[2019-12-09 18:53] rvanbekkum commented on #33
Dear @pri-kise,
Thank you for reporting your issue.

The "XLIFF: Check for Need Work Translations" command will add an "XLIFF Sync" note to the trans-unit which describes the detected problem.
For example:
[code]
After you edit the translation and change the state (e.g., if you edit the translation in POEdit, the state of the trans-unit will be changed to "translated"), the "XLIFF Sync" note will

[2019-12-10 08:36] pri-kise commented on #33
Ah thanks,

I don't know how i could have missed this additional line.

One issue was very tricky at first, since I had a souble space in the source string and the target string was perfect.

[2019-12-10 08:36] #33 closed

[2019-12-12 12:25] fvet opened #34 "baseFile in multi-project / folder workspaces"
Our current workspace setup is composed of various folders/projects (one per dependend extension). Each project/folder has its own .vscode folder with a separate settings.json file. Where possible, we like to use a general settings.json file that does not contain differences with the other projects / folders.

Currently, each settings.json files contains one variable setting "xliffSync.baseFile":

[2019-12-15 12:16] rvanbekkum commented on #34
Dear @fvet,
Thank you for reporting your issue. This is indeed a good idea. Currently we are also updating this setting for each project, but it would indeed be better if we can have it the same for each project.

After looking into this, I noticed you can already do this, but then you will need to add the following setting:
[code]
This is because the function `getXliffSourceFile` uses `uri.fsPath

[2019-12-15 19:12] fvet commented on #34
Hey Rob,

Hadn't tried with that setting yet. I've updated all settings to the .g.xlf value, would be nice though if it could be the default value ;)

[2019-12-17 10:22] fvet opened #35 "uft-8 > UFT-8?"
When using 'Synchronize Translation Units', I often get a delta on the target translation xlf files, without any translation being changed.

![image](https://user-images.githubusercontent.com/25268332/70986908-2633e900-20bf-11ea-8ce8-25f557adb050.png)

The g.xlf and all target translation xlfs contain encoding 'utf-8'. After synching, this is updated by xliff sync to 'UTF-8', resulting in an unnes

[2020-01-05 18:05] rvanbekkum commented on #35
Thank you for filing this issue.

Having the encoding attribute be capitalized `UTF-8` is actually deliberate (and it's also something taken from the VSCode extension that XLIFF Sync is based on, which I decided not to change, deliberately).

The reasons for this can be found here: https://stackoverflow.com/a/3252028

While the XML specification uses capitalized UTF-8, one could call it the _de-fa

[2020-01-06 18:51] fvet commented on #35
Agree with the argumentatiotn, I'll keep an eye on it and try to fix if it would occur again.

[2020-01-06 18:51] #35 closed

[2020-01-12 15:19] rvanbekkum commented on #34
This change is now included in version 0.3.4.

[2020-01-12 15:19] #34 closed

[2020-01-27 10:40] NilsGruettner opened #37 "[Feature Request] Parsing Target from Comment"
Hi,

first of all let me thank you for your awesome tool. It really helped streamlining the chore that is working with translation files.

**Description**

It would be great to have the option of parsing a translation from the comment, that you can specify with the label/caption in AL source file. Currently the comment is only added as "Note" to the .xlf.
This would enable the developer to specify

[2020-01-27 22:05] rvanbekkum commented on #37
Hi @NilsGruettner,
Thank you for your feature request and for the clear description. It's also nice to hear you find the extension useful :).

I'm curious to hear what problems you are running into that could be solved with the addition of this new feature?
If I understand correctly, you will have translations in the source code again (just like with the `CaptionML` property in AL) and also corres

[2020-01-28 10:02] NilsGruettner commented on #37
Hi @rvanbekkum,

thank you for your reply.

I understand your point, that having translations in source code is definitely not best practice.
But having an initial translation in source code also brings multiple advantages and in some cases is not too bad:

* Fiddling with the "Multilingual Editor" provided by Microsoft is a pain. I know there are other tools that can help, but the process is stil

[2020-01-28 11:39] rvanbekkum commented on #37
Thank you for your clear explanation. I will implement the suggested feature for it to become available in a next version.

[2020-01-28 11:43] NilsGruettner commented on #37
That's awesome! Thank you a lot.

[2020-02-22 20:59] rvanbekkum commented on #37
Hi @NilsGruettner,
I have implemented the feature and hope you could have a look.
I have added two new settings `"xliffSync.parseFromDeveloperNote"` (default: false) and `"xliffSync.parseFromDeveloperNoteSeparator"` (default: "|").
The changes have been pushed to a commit in the [`feature/37-parse-target-from-note`](https://github.com/rvanbekkum/vsc-xliff-sync/tree/feature/37-parse-target-from-not

[2020-02-24 09:42] NilsGruettner commented on #37
Hi @rvanbekkum,

your example seems perfect. It exactly matches my needs.
Thank you a lot for your effort.
I am really looking forward to try this out!

Also thanks for providing a good giggle with those brilliant text samples :)

[2020-02-25 21:29] #37 closed

[2020-02-25 21:45] rvanbekkum commented on #37
This change is shipped in version 0.3.5.

[2020-02-27 09:27] GregoryAA commented on #31
Hello Rob,

I also run into this issue. But in my case the cause  was  in wrong settings

"xliffSync.missingTranslation": "",

When I restarted VS code  I received the same error about host extension.

Also I want to note what if I change this setting to :

"xliffSync.missingTranslation": " "  and will restart vscode , I  will see wrong decoration in all files in my workspace.

![image](https://us

[2020-02-27 11:29] rvanbekkum commented on #31
Hi @GregoryAA,
Thank you for your message.

1. Concerning this issue, this seems to be a bug. For the decoration the XLIFF Sync extension uses the same code from the Angular Localization Helper this extension is based on. It seems however that the decoration was never restricted to just XLIFF files. I think we'll need to fix that, could you file a new issue for that?

2. I don't think I understand

[2020-02-27 13:34] GregoryAA opened #39 "Wrong decoration"
Hello Rob,

if I change this setting xliffSync.missingTranslation to " " and restart vscode

I  will see wrong decoration in all files in my workspace.

![image](https://user-images.githubusercontent.com/45356755/75427750-1e62b180-5958-11ea-887d-716f38a94b5d.png)

These are my settings:

    "xliffSync.findBySource": true,
    "xliffSync.missingTranslation": " ",
    "xliffSync.findBySourceAndDeve

[2020-02-27 13:57] GregoryAA commented on #31
1. Created new one https://github.com/rvanbekkum/vsc-xliff-sync/issues/39
2. Sorry GitHub hide my format :)

I looked for the solution to make target tag in this format `<target state="needs-translation"></target> ` with orange decoration. Current format `<target state="needs-translation"/>` doesn't suite for me, because I need to add closing target tag `</target>`, although I could be only add th

[2020-02-28 18:51] #39 closed

[2020-02-28 18:53] rvanbekkum commented on #39
Hi @GregoryAA,
A fix for this issue will be shipped in v0.3.6 together with other optimizations for decorations.

[2020-03-13 14:23] Lectem opened #41 "Line ending changes should be ignored."
I am using the extension on windows where VSCode will generate CR+LF line endings.
However some tools such as angular (see https://github.com/angular/angular/issues/36057) will generate files with LF line endings.

This extension also generates CR+LF line endings when on windows.

This leads to changes being detected in for all translations units even if no changes were made on the base file.

[2020-03-16 17:33] rvanbekkum commented on #41
Hi @Lectem,
Thank you for reporting your issue.

Do you mean that you would like to have (an option to have) line endings to be ignored in the code that checks whether the source text of a trans-unit has changed?
If I am misunderstanding or missing something, could you please further explain and/or give an example?
Thank you in advance for your response!

[2020-03-17 08:03] Lectem commented on #41
Yes exactly!

[2020-04-22 08:50] GregoryAA opened #43 "issue with Parse From Developer Node"
Hello Rob,

Set in extension setup Parse From Developer Node  =true
1) Add new label
![image](https://user-images.githubusercontent.com/45356755/79959619-048fa780-848d-11ea-85ad-b8a460ee0535.png)
2) Build app with Ctrl+Shift+B
3) Synchronize Translation Unit
![image](https://user-images.githubusercontent.com/45356755/79959859-50dae780-848d-11ea-89ac-e4f7b52de387.png)
4) Add developer comment and b

[2020-04-26 09:27] rvanbekkum commented on #43
Dear @GregoryAA,
Thank you for reporting this issue.

To summarize, we have the following three points to address:
1. "Parse from Developer Note" should copy the translation from the Developer note also in case that a trans-unit _already_ exists with target state="needs-translation". This sounds logical, I'll look into it.
2. "Parse from Developer Note" is currently not copying a new translation f

[2020-04-27 08:29] GregoryAA commented on #43
Hello Rob,

2. Maybe you could add new action "Update Translation from Dev. node" in the context menu under Synchronize Translation Unit?   It seems to me that such an opportunity should always be at hand with the developer.
![image](https://user-images.githubusercontent.com/45356755/80347165-9d029f00-8874-11ea-9848-e5584cb2e6e0.png)
3.
- user enters text tcommetwithtranslation
- selects a snippet

[2020-05-06 07:56] rvanbekkum opened #44 "Copy from Source for Languages"
Check if it might be useful to add a new option `"xliffSync.copyFromSourceForLanguages" : []` that can be used to set the languages for which the translation can be copied from the source text.

[2020-05-18 19:34] rvanbekkum commented on #41
This change is shipped in version 0.3.7.

[2020-05-18 19:34] #41 closed

[2020-05-18 19:35] rvanbekkum commented on #44
This change is shipped in version 0.3.7.

[2020-05-18 19:35] #44 closed

[2020-05-31 15:30] rvanbekkum commented on #43
The changes are shipped in version 0.3.8.
Please see the CHANGELOG and the README for the details.

[2020-05-31 15:30] #43 closed

[2020-07-27 08:12] fvet opened #48 "Sync in combination with 'translation' apps"
We're looking into the option to move our Base App translation files into separate extensions for the translations that we ship (similar to how partners would have to add new languages to the app). Our repo structure could be as follows (xlf files are no longer part of the apps root folder)

![image](https://user-images.githubusercontent.com/25268332/88518721-3adf4480-cff1-11ea-9516-22f36f559d5e.p

[2020-07-27 13:16] fvet commented on #31
@GregoryAA 3. A possible workaround: What we do to re-use the Base Application translations is to import the base.xlf files via PoEdit in the Translation Memory. Then opening your custom xlf files in PoEdit and use 'Pre-Translate'. It will scan the translation memory and apply the matching translations.

@rvanbekkum 3. Any plans / timing on moving the current sync logic to .NET/Ps to speed up thin

[2020-07-28 10:59] rvanbekkum commented on #31
@fvet I made a start a few weeks ago to create a PS version of XLIFF Sync, but did not continue it yet. I'll see if I can pick this up later this week; we're probably going to need it as well. There might be some performance improvements, but even then I think it may still take some time to sync. files this big.

![ps-xliff-sync](https://user-images.githubusercontent.com/7383241/88656618-e4493780-

[2020-08-02 20:12] rvanbekkum commented on #48
A new setting `xliffSync.syncCrossWorkspaceFolders` for this has been shipped in version 0.4.0.
With this setting you can change the behaviour of the extension: if set to `true`, then the extension will sync. from one base file in the workspace to all the other translation files in all of the workspace folders.
Thank you for reporting this issue. If you have any further feedback, please feel free

[2020-08-02 20:12] #48 closed

[2020-08-02 20:32] rvanbekkum commented on #31
My plans are currently as follows:
1. Create and release PS-version of XLIFF Sync, probably end of August 2020. You will find the source code on GitHub (repository: [rvanbekkum/ps-xliff-sync](https://github.com/rvanbekkum/ps-xliff-sync)) as soon as I have something worth sharing.
2. Create Azure DevOps tasks that use the PS-functions. You could also invoke the functions via the PowerShell task (un

[2020-08-03 11:00] antpyykk opened #50 "Incorrect 'state' attribute "needs-translation" for XLIFF 2.0"
Hello Rob

---

There are in total [four states defined in XLIFF 2.0 specification](http://docs.oasis-open.org/xliff/xliff-core/v2.0/xliff-core-v2.0.html#state):

The state attribute does not contain `needs-translation` nor `needs-adaption` like 1.2 spec.
Either `initial` state could be used or alternatively a custom [subState ](http://docs.oasis-open.org/xliff/xliff-core/v2.0/xliff-core-v2.0.html

[2020-08-03 17:01] rvanbekkum commented on #50
Hi @antpyykk,
Thank you for filing this issue! I will look into it.

[2020-08-03 20:12] rvanbekkum commented on #50
Hi @antpyykk,
I have mode changes to account for the states defined in the XLIFF 2.0 specification in the [`features/50-xlf2-states`](https://github.com/rvanbekkum/vsc-xliff-sync/tree/feature/50-xlf2-states) branch. You can find more information about the changes in the CHANGELOG in this branch:

Could you let me know if you can spot anything wrong or missing with these changes?

[2020-08-04 07:55] antpyykk commented on #50
Excellent work @rvanbekkum . You sure work fast.

My only point would be to mention the default `subState` required for translation. Any reason for using `poedit:fuzzy`?
https://github.com/rvanbekkum/vsc-xliff-sync/blob/37f69c928b551223b3cbd4343b5d590de922d748/package.json#L154-L159

Other than that, this seems like it fixes the issue 👍

[2020-08-04 08:11] rvanbekkum commented on #50
Thanks for your reply.

About the default `subState`:
I currently set it to the value that the application "[POEdit](https://poedit.net/)" adds to translations that you mark as 'needs work'.
What do you think might be a good default value for this setting? Do you think we should set it to something more general (e.g., "needsWork" or something similar) and let people customize it themselves in thei

[2020-08-04 08:53] antpyykk commented on #50
I really don't have an opinion on this.

Quick search regarding `poedit:fuzzy` would indicate it marks the translation for automatic fuzzy translation - not neccessarily as "needs work".

[GitHub code search also didn't reveal many good candidates for naming the subState](https://github.com/search?l=&p=1&q=subState%3D%22+extension%3Axlf&ref=advsearch&type=Code)

Either introduce a custom namespace

[2020-08-07 12:49] antpyykk commented on #50
@rvanbekkum if there's no further comments regarding this, I guess we could close the issue?

[2020-08-07 12:52] rvanbekkum commented on #50
Hi @antpyykk,
The changes didn't make it into the `master` branch and the VS Marketplace just yet.
I would prefer to close it as soon as the changes make it into the `master` branch 😉.

[2020-08-08 12:17] rvanbekkum opened #51 "(Setting to) Only sync to files where the original-attribute of the file node is the same as that of the base file"
Add a new setting that lets users choose whether to sync. to all files or only to files where the `original` attribute of the `file`-node is the same as that of the base-file.
Maybe then also check if support for defining multiple base-files would be useful?

[2020-08-08 12:23] #50 closed

[2020-08-08 12:36] rvanbekkum commented on #50
Changes for this have been shipped in version 0.5.0.
Thanks again for reporting the issue!

[2020-08-19 12:00] rvanbekkum opened #53 "Basefile setting is added to settings.json"
Since the latest update the vscode extension adds the `"xliffSync.baseFile"` setting to the `settings.json` file, which is not necessary if the base-file meets the pattern. This should be fixed.

[2020-08-27 15:16] IceOnly opened #54 "Feature Request: Open Synced file in External Translation Tool"
An option to open the synced xliff file in an external translation tool would be niced, but only if the file needs something todo.
I use Poedit as a default tool for xliff files.
The workflow for me is currently build the AL package, sync the translation with ALT + X S and then open the file in poedit.

[2020-08-27 16:27] rvanbekkum commented on #54
Hi @IceOnly,
Thank you for filing this issue.

There is a setting `xliffSync.autoCheckMissingTranslations` and `xliffSync.autoCheckNeedWorkTranslations` that will trigger a check for missing translations or problems after syncing translations. If there are missing translations or problems in a file, then a message will be shown that will let you open the file in your default XLIFF editor. Is this

[2020-08-28 07:31] IceOnly commented on #54
No, I did not know the feature, or rather, the result was not clear to me. Is it possible to confirm the notification without a mouse? I added a shortcut to focus the toast. But there a a lot of keys to hit to open the external tool.

[2020-08-28 09:41] rvanbekkum commented on #54
Hi @IceOnly,
I think you cannot easily trigger the button on the toast(s) from the keyboard. I could see if I could add a setting to automatically open the files that have something to-do, but maybe you still want to give confirmation before that happens? What are your thoughts on this?

[2020-09-03 17:45] rvanbekkum commented on #54
Hi @IceOnly,
Do you have further input for me on what you'd like to be changed?

[2020-09-03 18:06] rvanbekkum commented on #31
The PowerShell version is optimized for large files. It creates maps/dictionaries as a preprocessing step which significantly improves on the time complexity, i.e., I think the current vsc-xliff-sync implementation approximates O(n^2) while the optimization implemented in ps-xliff-sync brings it down to O(n) (with n being the number of translation units).
The actual time it takes to sync. files ca

[2020-09-03 20:16] rvanbekkum commented on #53
Closed with #55

[2020-09-03 20:16] #53 closed

[2020-09-04 13:56] IceOnly commented on #54
Yes, this would be perfect. An option that automaticly run the default application if a translation is missing or needs work.

[2020-09-06 08:56] fvet commented on #54
If this feature is added, please disable by default. I might be packaging my app and synching the translations, but I'm not responsible to update all the translation files. Some might be reviewed by the developer (in our case nl-BE, en-US), but others require external teams to provide translations (da-DK, fr-BE, de-DE, ..)

[2020-09-06 09:15] fvet commented on #31
Hey Rob, very big thanks for the new PS version!

I've tested it on larger xliff files (30mb+) and the results is very fast (3-4 minutes) compared to the VSCode functions (25+ minutes). This will definitly be a time saver.

[2020-10-06 12:18] htmnk opened #56 "Is it possible to disable or customize the auto note adding?"
As stated here: "The target node of the trans-units containing problems will be tagged with state="needs-adaptation". Additionally, a note will be added to the trans-unit to explain which problem was detected."

Is it possible to modify this so that the trans-units will be tagged but the notes are disabled completely?

[2020-10-12 12:21] rvanbekkum commented on #56
Dear @htmnk,
Thank you for filing this issue.

Yes, seems like a setting that I could add 😉. I will check if I can add it in a next version!

[2020-10-28 12:53] antpyykk opened #57 "'State' attribute incorrectly added to XLIFF 2.0 files during syncing"
Hi! A minor issue found out during testing.

---

**Version:** 0.5.1

**Steps to reproduce**

1. Add two new XLIFF files - one base file & one translation file
1. Update the base file with a new unit not present in the translation file
1. Run XLIFF sync

**Expected result**
New unit added to translation file, with target element set as an empty element

[code]

**Actual result**
Unit added but wit

[2020-10-29 11:48] rvanbekkum commented on #57
Hi @antpyykk,
Thank you for filing this issue! I will pick this up for the next release. 🙂

[2020-11-02 09:33] spookymattress opened #58 "Get an error when trying to syncronize to single file"
When I try to syncronize to a single file I get the error:

Command 'XLIFF: Synchronize to Single File' resulted in an error (command 'xliffSync.synchronizeFile' not found)

I have tried reinstalling the extension - it did not help.

Any ideas?

[2020-11-03 21:39] rvanbekkum commented on #58
Hi @spookymattress,
Thank you for filing this issue.

No, not exactly yet. Do you have a project folder/workspace that you can share in which you keep experiencing this issue?
It sounds like the "XLIFF Sync" extension does not get activated for your workspace.
The extension currently has the following activationEvents declared in the `package.json` file:
[code]
It does include the `xliffSync.synch

[2020-11-06 11:00] hendrik244 opened #59 "VS Extension stopped synchronizing units"
Hi,

I used the tool a lot in the past, but since today it just don't synchronizes the translation files anymore.
What can I do to check, where this is coming from?
Is there a log I could check?
When I generate a new translation unit my new translations are in there, but when I try to sync my already created ones it just does nothing.

Best regards,
Hendrik

[2020-11-06 11:11] #59 closed

[2020-11-06 11:48] rvanbekkum commented on #59
Hi @hendrik244,
I noticed you closed the issue yourself already. Was this intentional? Did you manage to resolve your issue yourself? If so, what turned out to be the issue for you?

[2020-11-06 12:10] hendrik244 commented on #59
hi @rvanbekkum,
the reason was that the xliff file was corrupt due a missing close of trans-unit tag.
Maybe a check if any of the xliff files to sync are all in right syntax would be a nice feature?

[2020-11-20 10:00] markusguenther opened #60 "Seems to ignore the <alt-trans> Element"
Hello,

first at all thanks for that extension. I used it now the first time for syncing translations of our open source CMS.
It is a great helper.

But we are using xliff 1.2 which has specified the `alt-trans` element. When I now sync a translation and the english base language for instance does not have `alt-trans` the sync remove that.

I am not sure if it is a missing feature or a bug.
Would

[2020-11-26 15:51] rvanbekkum commented on #60
Hi @markusguenther,
Thanks for filing this issue. I will have a look at it! 😉

[2020-11-26 16:13] markusguenther commented on #60
Thanks for taking care. If you need examples let me know :)

[2020-11-26 22:02] rvanbekkum commented on #54
A new setting `xliffSync.openExternallyAfterEvent` has been shipped in 0.6.0 which you can use to have XLIFF Sync open files automatically after certain events take place!

[2020-11-26 22:02] #54 closed

[2020-11-26 22:04] rvanbekkum commented on #56
A new setting `xliffSync.addNeedsWorkTranslationNote` has been shipped in 0.6.0 that you can use to enable or disable that notes are added that explain the detected problem!

[2020-11-26 22:04] #56 closed

[2020-11-27 08:14] IceOnly commented on #54
Nice. Thank you!

[2020-12-02 07:54] catadumitru opened #64 "Setting to clear translation after syncing when the source text of a unit changes"
Is there a setting that whenever the source text changes the target is removed?
I know this was the behavior in the past.
I would rather have no translation than one that needs adaptation.

[2020-12-02 16:16] rvanbekkum commented on #64
Hi @catadumitru,
Thank you for filing this issue.

The behaviour has always been like this since version 0.2.5:
[code]
But, if no matching trans-unit can be found in the target file (depending on your `xliffSync.findBy...`-settings), then the trans-unit will be treated as a new trans-unit and the target is marked with `state="needs-translation"`, also see [Usage](https://github.com/rvanbekkum/vsc-

[2020-12-03 07:24] catadumitru commented on #64
I think what I needed was to fix my settings and use xliffSync.findByXliffGeneratorNoteAndSource
It can be that settings in VSCode get reset when reinstalling the app.

Thank you for your help and keep up the good work!

[2020-12-08 19:46] rvanbekkum commented on #58
Hi @spookymattress,
Do you have any more input of when you are running into this?

[2020-12-09 09:27] waldo1001 opened #65 "Better error message"
I'm constantly working in multiroot workspaces - it would be really helpful that error messages would indicate in which workspace the error was thrown:
![image](https://user-images.githubusercontent.com/12088142/101610902-21bbbb00-3a09-11eb-94f4-302666ecad16.png)

[2020-12-09 09:47] waldo1001 opened #66 "Multiroot"
In a Multiroot workspace, it happens quite often that translations from one workspace is mixed/merged into translations from another workspace .. .

[2020-12-09 09:48] waldo1001 commented on #66
workspace per workspace is always ok

[2020-12-09 09:52] rvanbekkum commented on #66
Hi @waldo1001,
So you mean from the generated (.g.xlf) file of one project folder into the .xlf files of another project folder in the workspace?
Do you know when this happens, or do you have a sample of how to reproduce that issue?

[2020-12-09 09:54] rvanbekkum commented on #65
Hi @waldo1001,
Thank you for filing this issue.
I will include this in a next version. 🙂

[2020-12-09 10:04] waldo1001 commented on #66
It happened a month ago for the first time.  I figured it was me doing something wrong so I didn't pay attention to it.

But now it happened for about 4 of the 67 workspaces.  It seems to be happening on different workspaces .. so a repro is going to be very difficult, I'm afraid :(.

I just re-ran the synch (after I already synched all translations), and look what happened here:
ETR-objects are f

[2020-12-09 10:08] waldo1001 commented on #66
I think it's all the same issue .. getting data from another workspace and merge it into the wrong file .. .  I looked into your code, but I'm not that good with typescript to be able to debug - all seems good :-/.

I undid the above, and again, resynched - now without issues... .  So it's not really reproducable.

[2020-12-09 10:11] waldo1001 commented on #66
If I were to try to fix this issue - I would simply:
- not do it asyncronously (as it seems it's getting confused because of it)
- browse all workspaces
    - find app.json in workspace
    - run your sync for that workspace(using the app.json uri).

I don't care if it runs 65 times longer ;-).

[2020-12-09 10:13] rvanbekkum commented on #66
Hmmm, thanks.  Will investigate, because this can be very disturbing. Indeed I think it might have something to do with asynchronous functions.
I will also give this one some higher priority over the other open issues, which are mostly enhancement requests.

[2020-12-09 10:18] waldo1001 commented on #66
Thanks - if I can help or test - let me know ;-)

[2020-12-10 10:27] olalinv opened #67 "When synchronizing the translation units, a translation is lost if it has at the beginning an interpolation"
I´ve got this translation unit in messages.xlf:
[code]
And this is the tranlation in messages.eu-ES.xlf:
[code]
By synchronizing the translation units again the translation becomes:
[code]
If I put a space (or any word) just before the interpolation then this doesn't happen:
`<target state="translated">&nbsp;<x id="INTERPOLATION" equiv-text="{{createResponseOK.code}}"/> eskaera behar bezala sortu

[2021-01-24 13:55] rvanbekkum commented on #66
I have made some changes which are likely to also resolve this issue. It's on the `develop` branch now and will be shipped in the next release.

[2021-01-24 13:57] rvanbekkum commented on #58
I am closing this issue. I did add activationEvents for all commands of the extension for the next release, so perhaps that was what you were running into. If you have any further input for me though, then please let me know.

[2021-01-24 13:57] #58 closed

[2021-02-04 22:24] rvanbekkum commented on #51
Changes for this are shipped in v0.7.0!

[2021-02-04 22:24] #51 closed

[2021-02-04 22:25] rvanbekkum commented on #57
Changes for this are shipped in v0.7.0!

[2021-02-04 22:25] #57 closed

[2021-02-04 22:25] rvanbekkum commented on #64
Changes for this are shipped in v0.7.0!

[2021-02-04 22:25] #64 closed

[2021-02-04 22:25] rvanbekkum commented on #65
Changes for this are shipped in v0.7.0!

[2021-02-04 22:25] #65 closed

[2021-02-04 22:26] rvanbekkum commented on #66
Changes for this are shipped in v0.7.0!

[2021-02-04 22:26] #66 closed

[2021-02-04 22:35] rvanbekkum opened #73 "Let Placeholders rule also check for placeholders of the form #1"
The `Placeholders` rule already checks for mismatches of source text and translation for placeholders of the form `%1` and `{0}`, but not yet for placeholders of the form `#1`.

[2021-02-06 22:29] rvanbekkum commented on #31
Changes for this are now also ready for the VSCode extension and will be shipped in the next release!
This significantly speeds up syncing XLIFF files in VSCode.

[2021-02-06 22:48] rvanbekkum opened #74 "Add a feature to treat languages as equivalent"
Add a feature to have languages treated as equivalents. This could then be used, for example. so that you only have to enter `nl-NL` translations and they will automatically be used for `nl-BE` as well. Details to be determined.

[2021-02-07 15:21] rvanbekkum commented on #60
A change for this is ready and will be shipped in the next release. A new setting `xliffSync.preserveTargetChildNodes` has been added to account for this.

[2021-02-07 15:52] rvanbekkum commented on #67
Hi @olalinv,
Sorry for the late reply. I have looked into your issue, but I can't seem to reproduce it yet.
For me the translation does not disappear, however, what I do see is that the target node is being marked as a missing-translation. I can see why that happens and will look into fixing that.

However, that is not the bug you reported, so could you provide me with a sample project which repro

[2021-02-07 20:54] rvanbekkum commented on #67
Back at it again. Found another example of reproducing this, which is when copyFromSource is used. The issue is that currently nodes nested in the target are not supported. I will look into this though.

[2021-02-08 15:32] olalinv commented on #67
Hi @ rvanbekkum,

This is my settings file:

`{
  "xliffSync.baseFile": "messages.xlf",
  "xliffSync.addNeedsWorkTranslationNote": false,
  "xliffSync.copyFromSourceForLanguages": [
    "ca-ES",
    "de-DE",
    "en-US",
    "eu-ES",
    "es-ES",
    "fr-FR",
    "gl-ES",
    "it-IT",
    "pt-PT"
  ],
  "xliffSync.detectSourceTextChanges": false
}`

I will try to prepare a sample project as soon a

[2021-02-19 22:31] rvanbekkum commented on #67
A change for this will be shipped in the next release of the extension!

[2021-02-20 13:17] rvanbekkum commented on #74
This new feature ships in the next release.

[2021-02-21 16:47] rvanbekkum commented on #74
Shipped in v1.0.0.

[2021-02-21 16:47] #74 closed

[2021-02-21 16:48] rvanbekkum commented on #73
Shipped in v1.0.0.

[2021-02-21 16:48] #73 closed

[2021-02-21 16:48] rvanbekkum commented on #67
Shipped in v1.0.0.

[2021-02-21 16:48] #67 closed

[2021-02-21 16:48] rvanbekkum commented on #60
Shipped in v1.0.0.

[2021-02-21 16:48] #60 closed

[2021-02-21 16:49] rvanbekkum commented on #31
Shipped in v1.0.0.

[2021-02-21 16:49] #31 closed

[2021-02-22 09:40] olalinv commented on #67
I've tried it and it works perfectly. Thanks a lot.

[2021-02-26 15:34] rvanbekkum opened #81 "New units get state "translated""
The command "XLIFF: Create New Target Files" sets the states of the units to "translated":
[code]
This is not correct.

[2021-02-26 15:44] rvanbekkum commented on #81
Due to changes for #67.

[2021-02-26 17:52] rvanbekkum commented on #81
Fix shipped in 1.1.0.

[2021-02-26 17:52] #81 closed

[2021-03-05 11:30] Matombo opened #85 "Open VSX release"
Hello,
and thanks for your simple yet very helpfull extension.
As I recently switched from VS Code to VS Codium:

Are you planing on also uploading the extension to open-vsx.org?

The VS Codium project does simply build and distributes installers for the VS Code github project.
Howevery because of licensing they are not allowed to put the microsoft marketplace url in the included default config. T

[2021-03-06 22:30] rvanbekkum commented on #85
Hi @Matombo,
Thank you for your message.

I did not have any plans for publishing the extension to open-vsx.org yet, but I think I will look into it. Thank you for the suggestion!

[2021-03-23 10:47] lvanvugt opened #86 "Interested to demo your extension in a joined Areopa webinar?"
Hi Rob,

Are you interested in demoing your VSCode extension in a Areopa webinar?
The idea is to have AL VSCode extension domed to the community.

If you're interested please let me know. Mail to: webinars@areopa.academy.

b rg
Luc van Vugt

[2021-03-23 22:15] rvanbekkum commented on #86
Hi Luc,

Thank you for your message! I have sent you a mail, so I will also close the issue. 😉

Kind regards,
Rob

[2021-03-23 22:15] #86 closed

[2021-06-04 13:23] fvet opened #87 "Support / samples on 'equivalent' languages (2-step process)"
Related to #74

Hi @rvanbekkum,

Looking for some guidelines on how to achieve the following:

- Our main development language is English.
- After packaging, the g.xliff is created with English captions (this file is never touched)

English (en-US)
- We don't ship a separate en-US.xliff file (which would be a copy of the g.xliff files), since BC falls back on the captions included in the AL source

[2021-06-09 07:18] fvet commented on #87
Just did some tests but don't get the expected result:

- Workspace with repo with g.xlf / nl-BE.xlf / nl-NL.xlif
- Project settings

[code]

- Add a label in code
- AL: Package
- g.xlf is updated
- select g.xlf
- Synchronize translation units
- New trans-unit element is added to nl-BE.xlf and nl-NL.xlf

`<target state="needs-translation"/>`

- Open nl-BE.xlf and add the translation
- Trans-unit t

[2021-06-10 11:00] JalmarazMartn opened #88 "50 Mb limit fix suggestion."
About 50 mb file limit, I can tell you that I developed too a xliff help extension(I won´t put here the link because I don´t want to be a spammer) , and I had the same issue. I think the problem is using in xlf-document.ts class, function loadFromURI the sentence `workspace.openTextDocument(sourceUri)).getText();`
Instead using openTextDocument you can use:
[code]
If you need a further split this

[2021-06-11 08:40] dannoe opened #89 ""Open externally" after synchronizing not opening the file."
After the latest vscode update (1.57.0) the "Open Externally" button on the "X missing translations(s)." dialog is not working correctly anymore. It will be shown and if I press it the following confirmation dialog will be shown:

![grafik](https://user-images.githubusercontent.com/7450586/121657848-12452980-caa1-11eb-9626-4e51c8ceed79.png)

But even after pressing "Yes" nothing happens.

What I t

[2021-06-11 09:01] rvanbekkum commented on #88
Dear @JalmarazMartn,

Yes, that's an option to address this. I've had this on my internal backlog (in my head 🙃), but it is something that I have to put some time in to carefully adjust. I will most likely change this in a future update. Thanks for filing the issue. 😊

[2021-06-11 09:04] rvanbekkum commented on #85
I think I will actually be withholding from this for now, as people that are using open-vsx will probably be proficient enough to add the VS Marketplace as an extension source.

[2021-06-11 09:04] #85 closed

[2021-06-11 10:11] rvanbekkum commented on #87
Hi @fvet,
There seemed to be an issue with `xliffSync.equivalentLanguages`: it used workspace.getConfiguration, but I just saw/learned that this method merges the default value with the values at different scopes (see https://stackoverflow.com/questions/65192859/for-workspace-getconfiguration-how-do-i-get-a-setting-from-the-multi-root-works).
I will make adjustments for this (already have them rea

[2021-06-11 10:13] rvanbekkum commented on #89
Hi @dannoe,

Thank you for filing the issue, I see this is indeed an issue with the latest VSCode update. I did not find anyone who reported this to the VSCode team, but I suspect this must be an issue with other extensions as well, but I'll have to look into that a bit later.
If you find something in the meantime, please let me know. 😉

[2021-06-11 10:19] fvet commented on #87
For the Powershell variant - which we will use for our pipeline - it would be good if the sync commandlets would support and optional parameter to set a 'state' that is assigned when (just 'translated' ?) trans-units are synced from source/parent to target/slave.

We would not use the parameter from en > nl-BE, but could use the parameter to sync from nl-BE to nl-NL.

For the VSCode extension, it

[2021-06-11 10:45] fvet commented on #87
Thinking on some scenarios:

1. Happy flow (g > nl-BE > nl-NL)

**Add label**
- Added new label : g.xlif gets a new trans-unit
- Sync to nl-BE : new trans-unit is added without translation / state 'needs-translation'

- Update translation in nl-BE
- Sync to nl-NL with state 'needs review' : new trans-unit is added without translation / with state 'needs-review'

**Update label**
- Update label : g

[2021-06-11 19:27] JalmarazMartn commented on #88
Thank you for your extension @rvanbekkum . Have a nice day!!

[2021-06-11 19:31] rvanbekkum commented on #88
We can leave it open. After I've implemented this I will close the issue accordingly. 🙂

[2021-06-12 18:18] dannoe commented on #89
Looks like the API you are using (``env.openExternal``) is not intended for opening files on the filesystem. (see [VS Code API](https://code.visualstudio.com/api/references/vscode-api#env.asExternalUri))
I found two extensions and they were both using ``open`` [open - npm](https://www.npmjs.com/package/open) for this functionality.

[2021-06-14 21:14] rvanbekkum commented on #89
Reopening this until the fix is released with the next update.

[2021-06-21 18:57] rvanbekkum commented on #89
Your patch has been applied in version 1.2.0! I will track https://github.com/microsoft/vscode/issues/126502 and see if we should act accordingly on that.

[2021-06-21 18:57] #89 closed

[2021-06-21 18:59] rvanbekkum commented on #87
A fix for the issue of not being able to fully override the `xliffSync.equivalentLanguages` setting has been shipped in release 1.2.0.

I will come back at the other part of this issue later on. 😉

[2021-07-07 13:33] fabian-flassig opened #94 "Synchronization only keeps translations for first <file> container"
Hi,
when having an XLIFF 2.0 document with multiple <file> containers, the synchronization of translation units will only preserve existing translations for the first <file> container, but not for the subsequent containers.
The XLIFF documentation clearly says that the use of multiple <file> containers is allowed (http://docs.oasis-open.org/xliff/xliff-core/v2.0/os/xliff-core-v2.0-os.html#d0e1524)

[2021-07-09 12:27] ik3ras opened #95 "Synchronization changes state to translated for needs-translation elements"
Also noticed that it changes state when importing translations from file.
![image](https://user-images.githubusercontent.com/45070842/125076357-7cfd7b00-e0c8-11eb-9f54-b4222b2cadfd.png)

[2021-07-12 09:50] rvanbekkum commented on #95
Thanks for filing this issue. I will have a look! 😉

[2021-07-12 09:51] rvanbekkum commented on #94
Dear @fabian-flassig,
Thank you for filing an issue. I will have a look on how to approach that, but indeed I think that should surely be possible to support. 😉

[2021-07-29 13:32] fvet commented on #87
Hi @rvanbekkum, any chance of having the above included - on short term (mid september?) as part of xliff-sync?
If not, we'll see internally if we can build something around it ...

[2021-07-30 07:07] rvanbekkum commented on #87
Hi @fvet,
Yes!

[2021-09-02 13:12] aptMattKoe opened #96 "Synchronize Translation Units - Syncs only ONE xlf FIle"
I have an workspace with the App and the Test App.
Only the "App" has different Translations like this:
![image](https://user-images.githubusercontent.com/57363453/131849014-3a178552-d9a6-4176-87bd-776fc7c8272e.png)

If I use "Synchronize Translation Units", the XLF Files that gets syncronized with "Single File" will get synced again:
![image](https://user-images.githubusercontent.com/57363453/131

[2021-09-06 08:23] rvanbekkum commented on #96
Hi @aptMattKoe,
Thank you for filing your issue!

Are you still running into the issue? Do you have a sample project that can reproduce the issue, so I can look into it? 🙂

[2021-09-06 08:26] rvanbekkum commented on #95
Hi @ik3ras,
Are you experiencing this with the latest version of XLIFF Sync? I know there used to be a bug for a short period of time, but it was resolved with an earlier update: https://github.com/rvanbekkum/vsc-xliff-sync/blob/develop/CHANGELOG.md#110-26-02-2021
Otherwise, could you let me know when you are getting this exactly?

[2021-09-07 07:11] aptMattKoe commented on #96
I will try to build an example.
This project is nothing I could share :/

[2021-09-08 15:31] aptMattKoe commented on #96
I tried it again today and now it works....I had no idea! Same project.
Sorry :/

[2021-09-08 15:31] #96 closed

[2021-09-09 07:20] rvanbekkum commented on #96
No problem. Thanks for letting me know. 😊

[2021-09-29 14:13] #95 closed

[2021-10-03 09:05] fvet commented on #87
This new 'sync' option is indeed what we're looking for. I'm pro the new strategy setting ;)

[2021-11-09 21:30] rvanbekkum commented on #87
Hi @fvet,
Haven't forgotten about this request, but should have mentioned I set it on hold until I got the time to continue on it. Will try to find some time for it soon! 😉

[2021-11-10 21:32] eclipses opened #97 "Synchronize Translation Units function changes the note element closing tag"
Hi,

I've noted that "Synchronize Translation Units" function changes the note element closing tag

`<note from="Developer" annotates="general" priority="2"></note>`
becomes
`<note from="Developer" annotates="general" priority="2"/>`

If we look at the .g.xlf file generated automatically during compilation the closing tag is `</note>`

I verified also your corresponding function in PowerShell that

[2021-12-22 17:20] mjmatthiesen opened #98 "Any plans to integrate with DTS/LCS/XLIFFTranslator"
i.e. this site: https://support.lcs.dynamics.com/RegFTranslationRequestProject/Index
or the azure translator service: https://docs.microsoft.com/en-us/azure/cognitive-services/translator/translator-overview
(which is likely what dts/lcs uses)

That way you could automate the entire flow for "less" supported languages.

[2022-01-11 09:45] rvanbekkum commented on #98
Hi @mjmatthiesen,
Yes, I might look into that for a future release. First I would like to have a look on integrating it with the PowerShell module (https://github.com/rvanbekkum/ps-xliff-sync/pull/17) and picking up other open requests.

[2022-01-31 14:29] fvet opened #99 "ParseFromDeveloperNote is case-sensitive"
While running some basic tests to parse translations from the DeveloperNote (in fact, from the 'comments' attached to a label, caption, ...) I found out this is case-sensitive.

![image](https://user-images.githubusercontent.com/25268332/151810956-d9c6175a-2212-42b6-9969-932c599c16a8.png)

Apparently the nl-**be** translation (_'Leverancier'_) is not extracted, since it does not match the target l

[2022-02-01 09:09] rvanbekkum commented on #99
I think in this case it might be better if the developer sticks to using `nl-BE` consistently as the RFC 4646 language for Dutch (Belgium). It is recommended to have the subtag capitalized, even though lowercase would be valid as well. But anyhow, I do think it would be better to stick to the convention prescribed by RFC. In that way there also won't be questions (or issues) raised "why is it writ

[2022-02-01 09:15] fvet commented on #99
Thanks for the feedback, should be no issue to explain people how to properly format the value, or encourage the use of your snippets instead ;)

[2022-02-01 09:15] #99 closed

[2022-02-16 16:41] fvet opened #100 "Developer note - Delimiter Tag"
Hi @rvanbekkum

I'm trying to prepare the move away to **AL Language Tools** to **XLIFF Sync** here internally.
I think we can easily adopt our way of working and achieve the same (and much better results) with **XLIFF Sync**.

However, some developers currently use a - nice - work-around to auto-translate the comments (upfront inside the AL files, not after the XLIFF files have been synced). In o

[2022-02-17 08:48] es-mh opened #101 "Using equivalentLanguages in combination with parseFromDeveloperNote"
Hi,
I would like to use the equivalentLanguages in combination with parseFromDeveloperNote, and my problem is that the equivalentLanguages overrules the parseFromDeveloperNote.
Is there a possibility to change the behaviour of that, so that an explicitly defined Language parsed out of the DeveloperNote is more relevant than the equivalentLanguages.
e.g. I would like to work with de-AT in the devel

[2022-02-17 10:45] rvanbekkum commented on #101
Hi @es-mh,
Thank you for your message. I think that the requested feature as described in https://github.com/rvanbekkum/vsc-xliff-sync/issues/87#issuecomment-930245640 might suit your needs.
Could you please check that? 😊 I am planning to find some time for that one next week.

[2022-02-17 10:48] rvanbekkum commented on #100
Hi @fvet,
So if I understand correctly, you would like an option to have some characters trimmed from the translation?
For example, have:
[code]
Would that suit your needs?

[2022-02-17 12:06] es-mh commented on #101
Hi, thanks for the hint, I think the equivalentLanguages sync feature is also exactly what I need:)
Many thanks, great work

[2022-02-17 14:56] fvet commented on #100
Yes, that would do it. Trim the mentioned **leading / trailing** character (") from the translation.

[2022-02-17 14:57] fvet commented on #87
Hi @rvanbekkum , this issue is no longer relevant to me. If no one feels the need for this feature, feel free to close the issue.

[2022-03-08 08:04] fvet commented on #100
Hi @rvanbekkum. Any timing on when this would make the next release?

[2022-03-09 08:34] rvanbekkum commented on #100
Hi @fvet,
I think it might be at the end of March the earliest. The past and upcoming days I did not have much time to spent on changes. I also still want to include the changes last suggested in https://github.com/rvanbekkum/vsc-xliff-sync/issues/87 in an upcoming release (even though it has been some time) as I do think they might be useful!

[2022-03-18 08:55] rvanbekkum opened #102 "Include additional states in the "Needs Work" count"
Also include other states in the "needs work" count, e.g., `needs-l10n`, `needs-...`.

[2022-03-18 10:42] rvanbekkum opened #103 "Idea for translation rule (for BC translations): Check if '\' as new lines is used consistently"
Check that number of `\` occurences in source and translation is matching for BC app translations.
Add this as a new (opt-in) rule.

[2022-04-29 15:20] rvanbekkum commented on #100
A change for this is ready for the next release and has been checked in on the `develop` branch, commit https://github.com/rvanbekkum/vsc-xliff-sync/commit/fc0ba6a4fba177da831bf81101d76e33982286a8.

[2022-05-13 07:51] fvet commented on #100
Hi Rob, thanks for the update.

Any timing on when this new feature will be (pre-)released?
Looking forward to test ;)

[2022-05-19 17:35] #102 closed

[2022-05-19 17:36] rvanbekkum commented on #100
Released in version [1.3.0](https://github.com/rvanbekkum/vsc-xliff-sync/releases/tag/1.3.0).

[2022-05-19 17:36] #100 closed

[2022-05-20 07:27] dannoe commented on #100
@fvet Just out of curiosity: Was replacing the old format (with ") with the new format (without ") not an option? Could be done with a single regular expression and Find&Replace

[2022-05-27 07:46] es-mh commented on #87
Hi Rob,
is the equivalentLanguagesStrategy Feature still on the roadmap?
Thanks,
Michael

[2022-05-31 06:52] pri-kise commented on #88
Today I stumbled again about this error. Maybe you can at least add a try catch block with a warning that large files aren't supported right now.
At the moment nothing happens and the user don't know what happened.
![image](https://user-images.githubusercontent.com/56249171/171110570-1d0efe7f-f9be-4770-b32f-eb35da1f019f.png)

[2022-06-16 06:59] fvet commented on #100
As referered to in my initial post, some of the developers use the [Bracket Selection](https://marketplace.visualstudio.com/items?itemName=chunsen.bracket-select) extension (Alt+A) to easily select everything within the " " to translate e.g. with [VS Code Google Translate](https://marketplace.visualstudio.com/items?itemName=funkyremi.vscode-google-translate).

If we would remove the " ", we won't

[2022-07-05 15:30] fvet opened #108 "Issue with findBySource / parseFromDeveloperNote"
I've a label (don't mind the Dutch caption that should have been translated in English ;)) that contains a developer comment for the nl-BE language.

`MessageLbl: Label 'Aantal mag niet gewijzigd worden als er een transferregel voor deze inkoopregel bestaat: in inkoopregel Documentsoort=%1, Documentnr.=%2, Regelnr.=%3.', comment = 'nl-BE="Aantal mag niet gewijzigd worden als er een transferregel v

[2022-07-05 18:46] rvanbekkum commented on #108
Hi @fvet,
I think your setting of `xliffSync.parseFromDeveloperNoteSeparator` might explain this. You have set it to `,`, but the 'translation for nl-BE' also contains commas.
XLIFF Sync splits based on the character(s) specified in this setting.
Does this explain it for you? I think you might be best off using a different separator, but if you have other ideas, please let me know.

[2022-07-06 09:14] fvet opened #109 "Add the parseFromDeveloperNoteTrimCharacters in the tTranslations snippets"
The tTranslations snippets are conditionally generated, respecting the "xliffSync.snippetTargetLanguage"

Example

`"xliffSync.snippetTargetLanguage": "nl-BE",`

Resuls in

`Caption = 'CaptionText', Comment = 'nl-BE=Translation';`

---

However, since #100 we also have a new setting "xliffSync.parseFromDeveloperNoteTrimCharacters" that should be supported by the tTranslations snippets.

Example

`

[2022-07-06 11:44] fvet commented on #108
Hi Rob, this indeed explains the source of the issue, but I'm a bit reluctant on changing the parameter.

Some background:

We used https://marketplace.visualstudio.com/items?itemName=ClipDynamics.al-language-tools for several years and now want to migrate to Xliff Sync without changing a lot of our habits, snippets, source code, ....

AL Language Tools expected translations in format below

`Capt

[2022-07-06 13:17] rvanbekkum commented on #109
I could look into something for that.

Also, something that I have also considered is making a `"xliffSync.snippetTargetLanguages": []` setting, which will replace the `xliffSync.snippetTargetLanguage` after some time, but they should be able to both work, at least for quite some time, i.e., if the first setting is not empty, that will be used, otherwise, the existing setting will be used.

[2022-07-06 13:24] rvanbekkum commented on #108
It would be possible to take into account.

A good alternative would be to choose a character (a sequence of characters should work as well(!), see https://github.com/rvanbekkum/ps-xliff-sync/pull/29) that XliffSync will split on, to avoid splitting inside of the translation.

[2022-07-06 13:30] rvanbekkum commented on #98
Microsoft now also has a DTS extension for Visual Studio Code: https://marketplace.visualstudio.com/items?itemName=dts-publisher.dts-vsc

You can read more about how to use the extension in this blog from @demiliani: https://demiliani.com/2022/06/13/dynamics-365-business-central-introducing-the-dynamics-365-translation-service-visual-studio-code-extension-preview/
And also in Microsoft's documenta

[2022-07-28 13:29] fvet commented on #108
Hi Rob, any chance of including support for this in a not so far release? The impact of changing to another character is too large due to the number of projects / repositories.

[2022-08-09 11:35] rvanbekkum commented on #108
Hi Frédéric,
Sorry for the later reply (I was enjoying a good holiday 😇). I can see if I can include something for it in the next release, but I also expect to be quite busy with other things in my free time, so I am not sure when I will be able to work on this and make a new release.

[2022-10-07 11:30] fvet commented on #108
@rvanbekkum We decided to switch using `||` instead as separator.

No longer needed to spend any effort on this issue ;)

[2022-10-07 11:30] #108 closed

[2022-11-04 22:14] warlof commented on #97
I'm facing this issue myself, I hope the submitted PR would help :)
I keep the current working way and provide the ability to use open/closing tags instead of self-closing ones as an alternative.

[2022-11-07 19:20] wintak commented on #31
is it possible to have multiple base files and Sync `Sync-XliffTranslations -sourcePath "C:\MyProject\My Project.g.xlf" -targetPath "C:\MyProject\My Project.nl-NL.xlf" ` in XliffSync extension in VS code?

[2022-11-08 08:01] rvanbekkum commented on #31
Yes, that should work. If the base files have different `original` attributes, then XLIFF Sync will only sync to target files with the same value for this attribute (this is the default, but it can be disabled using the `xliffSync.matchingOriginalOnly` setting).

[2022-11-08 20:21] wintak commented on #31
Thank you!

[2022-11-17 06:58] pri-kise opened #111 "Xliff-Sync Ignore Workspace Folders without *g.xlf File"
Right now we are having some workspaces for our apps, that include the MainApp, the TestApp and our .azuredevops (for pipelines only) folder.

Xliff-Sync tries to sync for the .azuredevops folder, too but since it doesn't contain any xlf file, there is always an error shown.
It's not that bad, since the error as catched and only reported in the UI, but this can be misleading for some junior develo

[2022-11-17 08:27] rvanbekkum commented on #111
Hi @pri-kise,

Thank you for your message.

Just to get a better understanding: why would you want to have the `.azuredevops` folder as a separate project folder in your `.code-workspace` file?
I think it might be good that XLIFF Sync maybe skips folders without `.xlf` files, but still I was curious about that.

[2022-11-17 09:57] pri-kise commented on #111
Hi @rvanbekkum
I often have to update the pipelines together with the app.json after some major updates of BC and it is easier to update the required version on every place, if i have the the yaml files are in the same workspace.

I know i could open the yaml files separatly, but I had the experience, that the global search does not always find every result when the files aren't included in my .co

[2022-11-24 13:47] RWienemann opened #112 "Sync command wont run as task"
I tried to create a task to run the Synchronize Translation Units (after the translations are extracted) in VS Code. The command does not seem to get exceuted, though. I added the following to .vscode/tasks.json
`  {
            "label": "sync xliff",
            "command": "${command:xliffSync.synchronizeSources}",
        }
`
`xliffSync.createNewTargetFiles` does work. Am I missing an argument o